---
import Layout from "@layouts/Default.astro";
import ButtonMain from "@components/base/ButtonMain.astro";
import HeroMain from "@components/hero/HeroMain.astro";
import SectionMuted from "@components/section/SectionMuted.astro";
import Container from "@components/section/Container.astro";
import SectionTitle from "@components/section/SectionTitle.astro";
import IconBlock from "@components/content/IconBlock.astro";
import Toolbar from "@components/content/doctors/grid/Toolbar.astro";
import Filters from "@components/content/doctors/grid/Filters.astro";
import Grid from "@components/content/doctors/grid/Grid.astro";
import SideStatsRight from "@components/content/features/SideStatsRight.astro";
import SideStatsLeft from "@components/content/features/SideStatsLeft.astro";
import Pricing from "@components/content/Pricing.astro";
import Cta from "@components/content/Cta.astro";
import Testimonials from "@components/content/Testimonials.astro";
---

<Layout title="Home">
  <HeroMain />
<div id="highlights">
  <SectionMuted>
    <Container>
      <SectionTitle
        title="Continued Longitudinal Healthcare"
        subtitle="Move to a digital family doctor model"
        minititle=""
      />

      <div class="grid md:grid-cols-3 ltablet:grid-cols-4 lg:grid-cols-4 gap-x-6 gap-y-12" x-intersect="activeStep = ''">
        <!-- Item -->
        <div>
          <IconBlock
            title="Continuum of Care"
            text="Patient’s longitudinal health history for evidence based treatment via Public Health Record app (PHR)"
            icon="ph:timer-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="E-Prescription"
            text="Share prescriptions with patient in a paperless manner directly attached to their health record"
            icon="ph:prescription-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="360° view of Practice"
            text="Centralized view of your consultations across all clinics/hospitals"
            icon="ph:first-aid-kit-duotone"
            class="'text-rose-500'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Privacy by Design"
            text="Patient's health data and booking history kept private from the app providers"
            icon="ph-lock-simple-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Your platform - Your choice"
            text="Flexibility to seamlessly switch to alternative providers within the open network"
            icon="ph:heartbeat-duotone"
            class="'text-rose-500'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Effortless Tele-consultations"
            text="Use industry leading platforms which offer reliable video quality during consultations"
            icon="ph:video-camera-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Set Fee and Time"
            text="Define consultation timeslots and price to be charged"
            icon="ph:calendar-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Payment Security"
            text="Payment is safely held in escrow until the consultation is complete"
            icon="ph:money-duotone"
            class="'text-primary-600'"
          />
        </div>
      </div>
    </Container>
  </SectionMuted>
</div>

  <!--<SectionMuted class="'overflow-hidden'">-->
  <!--  <Container>-->
  <!--    <div class="py-10">-->
  <!--      <SideStatsRight />-->
  <!--      <SideStatsLeft />-->
  <!--    </div>-->
  <!--  </Container>-->
  <!--</SectionMuted>-->

  <!--<SectionMuted>-->
  <!--  <Container>-->
  <!--    <SectionTitle-->
  <!--      title="Pricing Options"-->
  <!--      subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tibi hoc incredibile, quod beatissimum."-->
  <!--      minititle="Simple Pricing"-->
  <!--      class="'mx-auto text-center'"-->
  <!--    />-->
  <!--    <Pricing />-->
  <!--  </Container>-->
  <!--</SectionMuted>-->

  <!--<SectionMuted>-->
  <!--  <Container>-->
  <!--    <SectionTitle-->
  <!--      title="They love Dokto"-->
  <!--      subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tibi hoc incredibile, quod beatissimum."-->
  <!--      minititle="Our Patients"-->
  <!--      class="'mx-auto text-center'"-->
  <!--    />-->
  <!--    <Testimonials />-->
  <!--  </Container>-->
  <!--</SectionMuted>-->

  <SectionMuted>
    <Container>
      <Cta />
    </Container>
  </SectionMuted>
</Layout>
